/*
# 全体背景

```
<body class="rntr">(コンテンツ)</body>
```
*/

.rntr {
  background: #95acf2;
}

/*
# メイン画像

画像周辺のスタイル

```
<div class="photo">
    <img class="photo__item" alt="" src="//placekitten.com/g/125/125/" />
</div>
```
*/

.photo {
  padding: 5px;
  text-align: center;
  &__item {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
    display: block;
    margin: auto;
    max-width: 100%;
  }
}
