<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ days }} days</title>
    <script type="text/javascript" src="/static/build/bower_components/react/react.min.js"></script>
    <script type="text/javascript" src="/static/build/bower_components/flickrapi/browser/flickrapi.js"></script>
    <script type="text/javascript" src="/static/build/bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/static/build/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/build/bower_components/moment/min/moment.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    {#
    {{ days }} days
    #}
    <div id="contents"></div>
    <script type="text/javascript" src="/static/build/app.js"></script>
    <div class="btn">
        <a class="btn__link" href="#">リンクサンプル</a>
    </div>
</body>
</html>
